h1 {
	color: #2E2E2E;
	text-align: center;
	font-family: monospace;
}

body {
	background-color: #D8D8D8;
}

.page-top {
	background-color: #D8D8D8;
}

.page-upper-mid {
	background-color: #BDBDBD;
}

.page-lower-mid {
	background-color: #A4A4A4;
}

.page-bottom {
	position: fixed;
	bottom: 0;
	display: inline-block;
}

.pos {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.full-screen {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
}