@import url(https://fonts.googleapis.com/css?family=Raleway:300);

h1 {
	color: #2E2E2E;
	text-align: center;
	font-size: 250%;
}

h2 {
	color: #2E2E2E;
	font-size: 150%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

h3 {
	padding-left: 40px;
}

p {
	padding-left: 50px;
}

/*Menu*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	width: 100px;
	background-color: #585858;
}

li a {
	display: block;
	padding: 10px 10px 10px 10px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
}

li a:hover {
	background-color: #819FF7;
}

#menu {
	padding-left: 20px;
}

.active{
	background-color: #8181F7;
}
/*End Menu*/

body {
	background-color: #6E6E6E	;
	font-family: 'Raleway', sans-serif;
}

.page-top {
	background-color: #F2F2F2;
	height: 1000px;
	margin: -27px -8px -27px -8px;

}

.page-upper-mid {
	background-color: #A4A4A4;
	height: 1000px;
	margin: 0px -8px -27px -8px;
}

.page-lower-mid {
	background-color: #6E6E6E;
	height: 1000px;
	margin: 0px -8px -27px -8px;

	color: #F2F2F2;
}

.page-bottom {
	position: fixed;
	bottom: 0;
	display: inline-block;
}

.pos {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.padding-top {
	padding-top: 30px;
}